{% extends 'festival/layout.html' %}

{% block content %}
    
{% for dia in dias %}

<h2 style="padding: 20px; color: black;" class="dia-header" data-color="{{ dia.cor }}">{{ dia.data|date:"d M'y" }}</h2>

    {% for concerto in dia.concertos.all %}
        <article class="card">
            <a href="{% url 'concerto' concerto.id %}">{{ concerto.banda.nome }} - {{ concerto.hora }} @ {{ concerto.palco }}</a>
        </article>
    {% endfor %}

{% endfor %}


<script>
document.querySelectorAll('.dia-header').forEach(header => {
    const color = header.getAttribute('data-color');
    header.style.backgroundColor = color;
});
</script>

{% endblock %}
    